.header {
  .logo {
    img {
      height: 25px;
    }
  }
  
  .icon {
    width: 200px;
  }

  .burgerMenu {
    width: 30px;
    cursor: pointer;
  }
  
  .burgerMenu div {
    height: 3px;
    width: 100%;
    margin: 3px 0;
    background-color: #000;
  }
}
